
.env
.eslintcache
.nvmrc
node_modules
npm-debug.log
/public/js/
/public/css/
/server/build

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
