<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Corner Judge</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/corner-judge.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/lib/fast-click.min.js"></script>
	<script src="/js/corner-judge.js"></script>
</head>
<body>
	<div id="name-view" class="view view--name hidden">
	    <h1>Corner Judge</h1>
		<div class="action">
			<p class="instr">Enter your name</p>
			<input id="name-field" class="field" type="text">
		</div>
	</div>
	<div id="rings-view" class="view view--rings hidden">
	    <h1>Corner Judge</h1>
		<div class="action">
			<p id="rings-instr" class="instr">Select ring number</p>
		    <ul id="rings-list" class="list-reset list-grid">
                {{#each ringAllocations}}
		            <li><button class="btn btn--ring" disabled>{{index}}</button></li>
                {{/each}}
		    </ul>
		</div>
	</div>
	<div id="authorisation-view" class="view view--authorisation hidden">
		<h1>Corner Judge</h1>
		<div class="action">
			<p class="instr">Waiting for authorisation...</p>
		</div>
	</div>
	<div id="round-view" class="view hidden">
		<div class="score-btns score-btns--hong">
			<button class="score-btn score-btn--5">5</button>
			<button class="score-btn score-btn--4">4</button>
			<button class="score-btn score-btn--3">3</button>
			<button class="score-btn score-btn--2">2</button>
			<button class="score-btn score-btn--1">1</button>
		</div>
		<div class="score-btns score-btns--chong">
			<button class="score-btn score-btn--5">5</button>
			<button class="score-btn score-btn--4">4</button>
			<button class="score-btn score-btn--3">3</button>
			<button class="score-btn score-btn--2">2</button>
			<button class="score-btn score-btn--1">1</button>
		</div>
	</div>
	<div id="backdrop-wrap" class="backdrop-wrap hidden">
		<div class="backdrop backdrop--disconnected">
			<p>Jury President disconnected.</p>
			<p>Waiting for reconnection...</p>
		</div>
		<div class="backdrop backdrop--waiting">
			<p>Waiting for round to begin...</p>
		</div>
	</div>
</body>
</html>