<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Jury President</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/jury-president.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/lib/fast-click.min.js"></script>
	<script src="/js/jury-president.js"></script>
</head>
<body>
	<div id="pwd-view" class="view">
		<h1>Jury President</h1>
		<div id="pwd-action" class="action">
			<p id="pwd-instr" class="instr">Master password required</p>
			<input id="pwd-field" class="field" type="password">
		</div>
	</div>
	<div id="rings-view" class="view hidden">
		<h1>Jury President</h1>
		<div id="rings-action" class="action">
			<p id="rings-instr" class="instr">Select ring number</p>
		    <ul id="rings-list" class="list-reset list-grid">
                {{#each ringAllocations}}
		            <li><button class="rings-btn">{{index}}</button></li>
                {{/each}}
		    </ul>
		</div>
	</div>
	<div id="match-view" class="view hidden">
		<div class="judges">
		    <h2 class="judges-heading">Corner Judges</h2>
		    <ul class="judges-list list-reset">
		        <li class="judge">
		            <h3 class="judge-name">Judge #1</h3>
		            <span class="judge-state">Waiting for connection</span>
                    <ul class="judge-btns list-reset hidden">
                        <li><button class="judge-btn judge-btn--accept">Accept</button></li>
                        <li><button class="judge-btn judge-btn--reject">Reject</button></li>
                    </ul>
                </li>
		        <li class="judge">
		            <h3 class="judge-name">Judge #2</h3>
		            <span class="judge-state">Waiting for connection</span>
                    <ul class="judge-btns list-reset hidden">
                        <li><button class="judge-btn judge-btn--accept">Accept</button></li>
                        <li><button class="judge-btn judge-btn--reject">Reject</button></li>
                    </ul>
                </li>
                <li class="judge">
		            <h3 class="judge-name">Judge #3</h3>
                    <span class="judge-state">Waiting for connection</span>
                    <ul class="judge-btns list-reset hidden">
                        <li><button class="judge-btn judge-btn--accept">Accept</button></li>
                        <li><button class="judge-btn judge-btn--reject">Reject</button></li>
                    </ul>
                </li>
                <li class="judge">
		            <h3 class="judge-name">Judge #4</h3>
                    <span class="judge-state">Waiting for connection</span>
                    <ul class="judge-btns list-reset hidden">
                        <li><button class="judge-btn judge-btn--accept">Accept</button></li>
                        <li><button class="judge-btn judge-btn--reject">Reject</button></li>
                    </ul>
                </li>
		    </ul>
		</div>
		<div class="main">
		    <div class="time-keeping">
		        
		    </div>
		    <div class="match">
	        	<p><button id="start-btn">Start Match</button></p>
		    </div>
		</div>
	</div>
</body>
</html>