@charset "utf-8";

/* ===== Ring screen ===== */

#ring {
	display: table;
	width: 100%;
	max-width: none;
	min-height: 100%;
	padding-bottom: 0;
}

#judges,
.main {
	display: table-cell;
	vertical-align: top;
}

.panel {
	overflow: hidden;
	height: 100%;
}

.match-btn {
	padding: .5em 1em;
	font-size: 150%;
}


/* ===== Judges sidebar ===== */

#judges {
	width: 16em;
	padding: 1em 2em 3em;
	font-size: 90%;
	background-color: #eee;
	border-right: 1px solid #ccc;
}

.judges-heading {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	font-weight: normal;
}

.judge {
	position: relative;
	padding: 1.6em 0;
	border-bottom: 1px solid #ccc;
}

.judge-name {
	margin-top: 0;
	margin-bottom: .7em;
}

.judge-disconnect {
	position: absolute;
	top: 1.2em;
	right: 0;
	opacity: 0;
	transition: all .3s ease;
	padding: 0 .2em;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	font-size: 130%;
    color: #777;
	cursor: pointer;
}

.judge:hover > .judge-disconnect {
	opacity: 1;
}

.judge-disconnect:hover {
    background-color: #ddd;
	border: 1px solid #bbb;
    color: #444;
}

.judge-state {
	margin-bottom: 0;
}

.judge-btns {
	cursor: default; /* Prevent text cursor between the two buttons */
}

.judge-btn {
	padding: .3em .8em;
}

.judge-count-btns {
	margin-top: 1.6em;
}

.judge-count-btns > button {
	margin: 0 .1em;
	padding: .2em .4em;
	border-radius: 50%;
	font-size: 130%;
}


/* ===== Configuration panel ===== */

#config-panel {
	padding-top: 7em;
}

.config-wrap {
	margin-top: 3em;
	font-size: 120%;
	text-align: left;
}

.config > span {
	display: block;
	float: left;
	width: 50%;
	margin: .3em 0;
	padding: 0 .6em;
}

.config-lbl {
	text-align: right;
}


/* ===== Match panel ===== */

.mp-row {
	display: table;
	width: 100%;
}

.mp-row--top {
	height: 40%;
	border-bottom: solid 1px #ccc;
}

.mp-row--bottom {
	height: 60%;
	border-top: solid 1px #ccc;
}

.mp-cell {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.time-keeping,
.state-management {
	height: 50%;
}

/* Time keeping */

.tk-inner {
	position: relative;
	top: 0;
	width: 22.5em;
	margin: 0 auto;
	text-align: center;
	transition: top .3s ease-out;
}

.tk-timer {
	letter-spacing: .06em;
	color: #444;
}

.tk-timer-sep {
	position: relative;
	top: -.09em;
	text-align: center;
}

.tk-timer--round {
	font-size: 750%;
	background-color: #fff;
	transition: opacity .3s ease-in;
}

.tk-timer--injury {
	position: absolute;
	bottom: 0;
	z-index: -10;
	width: 100%;
	font-size: 300%;
	opacity: 0;
	transition: bottom .3s ease-out;
}

.tk_injury > .tk-inner {
	top: -2em;
}

.tk_injury .tk-timer--round {
	opacity: .6;
}

.tk_injury .tk-timer--injury {
	bottom: -1em;
	opacity: 1;
}

.tk_on .tk-timer--round > .tk-timer-sep,
.tk_injury .tk-timer--injury > .tk-timer-sep {/*
	animation: blink 1s .5s ease infinite reverse;*/
}


/* Match state management */

.sm-inner {
	max-width: 28em;
	margin: 0 auto;
}

.sm-btn {
	float: left;
	display: block;
	width: 48%;
	padding: .5em .2em;
}

.sm-btn--start {
	margin-right: 4%;
}

.sm-btn--result,
.sm-btn--injury {
	width: 100%;
}

.sm-btn--injury {
	margin-top: .6em;
	font-size: 120%;
}


/* Scoring */

.sc-inner {
	padding: 0em 2em 2em;
	overflow: hidden;
}

.sc-judge {
	float: left;
	width: 50%;
	height: 50%;
	padding: 1em 2em;
}

.sc-judge-score > span {
	display: block;
	float: left;
	width: 50%;
	padding: .5em 0;
	font-size: 140%;
	font-weight: bold;
}


/* Penalties */

.penalties {
	
}


/* ===== Result panel ===== */

#result-winner {
	font-size: 400%;
	font-weight: bold;
}

.match-btn--config {
	margin-right: 1em;
}

#scoreboard-wrap {
	margin-top: 2.5em;
	font-size: 120%;
}

.result-penalties > span {
	font-weight: bold;
}

.scoreboard {
	margin: 1em auto 0;
	font-size: 95%;
}

.scoreboard th,
.scoreboard td {
	padding: .3em .5em;
}

.scoreboard th {
	font-weight: normal;
}

.sb-body th {
	text-align: right;
}

.sb-head th:not(:first-child),
.sb-body .hong-sbg {
	border-left: 10px solid #fff;
}

