@charset "utf-8";

/* ===== Ring view ===== */

#ring {
	display: table;
	width: 100%;
	max-width: none;
	height: 100%;
	padding-bottom: 0;
}

#judges-sidebar,
.main {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.panel {
	overflow: hidden;
	height: 100%;
}

.match-btn {
	padding: .5em 1em;
	font-size: 150%;
}


/* ===== Judges sidebar ===== */

#judges-sidebar {
	width: 16em;
	padding: 1em 2em 3em;
	font-size: 90%;
	background-color: #eee;
	border-right: 1px solid #ccc;
}

.js-heading {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
}

.js-btns {
	margin-top: 1.6em;
}

.js-btns > button {
	margin: 0 .1em;
	padding: .2em .5em;
	border-radius: 50%;
	font-size: 130%;
}

.js-judge {
	position: relative;
	padding: 1.6em 0;
	border-bottom: 1px solid #ccc;
}

.js-judge-name {
	margin-top: 0;
	margin-bottom: .7em;
}

.js-judge-remove {
	position: absolute;
	top: 1.2em;
	right: 0;
	opacity: 0;
	transition: all .3s ease;
	padding: 0 .2em;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	font-size: 130%;
    color: #777;
	cursor: pointer;
}

.js-judge:hover > .js-judge-remove {
	opacity: 1;
}

.js-judge-remove:hover {
    background-color: #ddd;
	border: 1px solid #bbb;
    color: #444;
}

.js-judge-state {
	margin-bottom: 0;
}

.js-judge-btns {
	cursor: default; /* Prevent text cursor between the two buttons */
}

.js-judge-btn {
	padding: .3em .8em;
}


/* ===== Configuration panel ===== */

#config-panel {
	padding-top: 4.5em;
}

.config {
	max-width: 45em;
	margin: 3.5em auto 4em;
	padding-bottom: 0;
	font-size: 110%;
	text-align: left;
}

.config-heading {
	margin: 0 0 1em;
	text-align: center;
}

.config-item { 
	overflow: hidden;
}

.ci-lbl,
.ci-controls {
	display: block;
	float: left;
	width: 50%;
	margin: .3em 0;
	padding: 0 1.2em;
}

.ci-lbl {
	padding: .2em 0;
	text-align: right;
}

.ci-value {
	display: inline-block;
	border: 1px solid #bbb;
	padding: .2em .5em;
	background-color: #eee;
}

.ci-btn {
	padding: .2em 0;
}

.ci-btn:not(.btn_pressed):not(:hover) {
	color: inherit;
}

.ci-btn:first-child {
	border-radius: 10px 0 0 10px;
	border-right: 0;
}

.ci-btn:last-child {
	border-radius: 0 10px 10px 0;
	border-left: 0;
}

.ci-inc,
.ci-dec {
	width: 2em;
}

.ci-true,
.ci-false {
	width: 3.5em;
}


/* ===== Match panel ===== */

.mp-state {
	position: relative;
	z-index: 10;
	margin: 0 auto;
	line-height: 1.5;
	background-color: #555;
	color: #fff;
	font-size: 250%;
}

.mp-row {
	display: table;
	width: 100%;
	padding: 0 1em;
}

.mp-row--top {
	height: 14em;
	border-bottom: solid 1px #ccc;
}

.mp-row--bottom {
	border-top: solid 1px #ccc;
}

.mp-cell {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.mp-row--bottom > .mp-cell {
	vertical-align: top;
}

.time-keeping,
.state-management {
	height: 50%;
}

/* Time keeping */

.tk-inner {
	position: relative;
	top: 0;
	width: 22.5em;
	margin: 0 auto;
	text-align: center;
	transition: top .3s ease-out;
}

.tk-timer {
	letter-spacing: .06em;
	color: #444;
}

.tk-timer-sep {
	position: relative;
	top: -.09em;
	text-align: center;
}

.tk-timer--round {
	font-size: 750%;
	background-color: #fff;
	transition: opacity .3s ease-in;
}

.tk-timer--injury {
	position: absolute;
	bottom: 0;
	z-index: -10;
	width: 100%;
	font-size: 300%;
	opacity: 0;
	transition: bottom .3s ease-out;
}

.tk_injury > .tk-inner {
	top: -2em;
}

.tk_injury .tk-timer--round {
	opacity: .6;
}

.tk_injury .tk-timer--injury {
	bottom: -1em;
	opacity: 1;
}

.tk_on .tk-timer--round > .tk-timer-sep,
.tk_injury .tk-timer--injury > .tk-timer-sep {/*
	animation: blink 1s .5s ease infinite reverse;*/
}


/* Match state management */

.sm-inner {
	max-width: 28em;
	margin: 0 auto;
}

.sm-btn {
	float: left;
	display: block;
	width: 48%;
	padding: .5em .2em;
}

.sm-btn--start {
	margin-right: 4%;
}

.sm-btn--injury {
	width: 100%;
	margin-top: .6em;
	font-size: 120%;
}


/* Scoring */

.sc-inner {
	padding: 0em 2em 2em;
	overflow: hidden;
}

.sc-judge {
	float: left;
	width: 50%;
	height: 50%;
	padding: 1em 2em;
}

.sc-judge-score > span {
	display: block;
	float: left;
	width: 50%;
	padding: .5em 0;
	font-size: 140%;
	font-weight: bold;
}


/* Penalties */

.penalties {
	padding-top: .4em;
}

.pe-heading {
	margin-bottom: .5em;
}

.pe-inner {
	margin-bottom: 1.5em;
}

.pe-inner--warnings {
	font-size: 150%;
}

.pe-item {
	display: inline-block;
	text-align: center;
	padding: 0 .5em;
}

.pe-value,
.pe-btns {
	display: inline-block;
	vertical-align: middle;
}

.pe-value {
	padding: 0 .3em;
	line-height: 1.6;
	font-size: 200%;
}

.pe-btn {
	display: block;
	width: 4rem;
	border-radius: 5px;
}

.pe-inc {
	margin-bottom: .2em;
	line-height: 2.05;
}

.pe-dec {
	line-height: 1;
	font-size: 80%;
}


/* ===== Result panel ===== */

.rp-winner {
	font-size: 400%;
	font-weight: bold;
}

.match-btn--config {
	margin-right: 1em;
}

.scoreboard-wrap {
	margin: 2em 0 3em;
	font-size: 120%;
}

.scoreboard {
	margin: 0 auto;
}

.scoreboard th,
.scoreboard td {
	padding: .3em .5em;
}

.sb-body th {
	text-align: right;
}

.sb-row--warnings,
.sb-row--fouls {
	font-size: 90%;
}

.sb-row--fouls > th,
.sb-row--fouls > td,
.sb-row--warnings > td[rowspan="2"] {
	border-bottom: 10px solid #fff;
}

.sb-row--warnings > th,
.sb-row--fouls > th {
	font-weight: normal;
}

.sb-head th:not(:first-child),
.sb-body .hong-sbg,
.sb-body .hong-bg {
	border-left: 10px solid #fff;
}

