@charset "utf-8";

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: Century Gothic, sans-serif;
	max-width: 50em;
	margin: 0 auto;
}

h1 {
	margin: 1.4em 0 1.4em;
	font-size: 400%;
	font-weight: normal;
}

.hidden {
	display: none!important;
}

button::-moz-focus-inner {
    border: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-grid > li {
    display: inline-block;
    margin: 0 .5em;
}


/* Views */

.view {
	text-align: center;
	overflow: hidden;
}


/* Action container */
.action {
	padding: .2em 0 .6em;
	border-width: 0 8px;
	border-style: solid;
	border-color: hsl(357, 85%, 51%);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.action > *:last-child {
    margin-bottom: 0;
}

/* Instruction paragraph */
.instr {
	margin-top: 0;
	font-size: 170%;
	font-style: italic;
}

/* Text field */
.field {
	padding: .2em;
	border: 1px solid #555;
	border-radius: 4px;
	font-size: 150%;
	text-align: inherit;
}

/* Rings list */
.rings-btn {
    min-width: 2.8em;
    min-height: 2.8em;
    background-color: #555;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 230%;
    transition: all .2s ease-in-out;
}

.rings-btn:not([disabled]):hover,
.rings-btn:not([disabled]):focus {
    background-color: #ddd;
    color: #555;
    cursor: pointer;
}

.rings-btn[disabled] {
    opacity: .4;
}



/* Shake effect */

.shake {
	-webkit-animation: shake 150ms 2 linear;
	animation: shake 150ms 2 linear;
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate3d(3px, 0, 0); }
	50% { -webkit-transform: translate3d(-3px, 0, 0); }
	100% { -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes shake{
	0% { transform: translate3d(3px, 0, 0); }
	50% { transform: translate3d(-3px, 0, 0); }
	100% { transform: translate3d(0, 0, 0); }
}
