<button type="button" class="match-btn match-btn--start btn{% if not isBreak %} btn--major{% endif %}"{% if not isIdle %} disabled{% endif %}>Start</button>
<button type="button" class="match-btn match-btn--end btn{% if not isBreak %} btn--major{% endif %}"{% if not isStarted or isInjury %} disabled{% endif %}>End</button>
<button type="button" class="match-btn match-btn--injury btn btn--minor"{% if not (canStartInjury or isInjury) %} disabled{% endif %}>{{ 'End' if isInjury else 'Start' }} Injury</button>