<div class="pe-item">
	<span class="pe-value hong-bg">{{hong}}</span>
	<div class="pe-btns">
		<button class="pe-inc pe-btn btn" type="button" data-competitor="hong"{{#unless allowIncHong}} disabled{{/unless}}>+</button>
		<button class="pe-dec pe-btn btn btn--minor" type="button" data-competitor="hong"{{#unless allowDecHong}} disabled{{/unless}}>&minus;</button>
	</div>
</div>
<div class="pe-item">
	<span class="pe-value chong-bg">{{chong}}</span>
	<div class="pe-btns">
		<button class="pe-inc pe-btn btn" type="button" data-competitor="chong"{{#unless allowIncChong}} disabled{{/unless}}>+</button>
		<button class="pe-dec pe-btn btn btn--minor" type="button" data-competitor="chong"{{#unless allowDecChong}} disabled{{/unless}}>&minus;</button>
	</div>
</div>