{% for ring in rings %}
	{% if isJP %}
		<li><button type="button" class="btn rl-btn" data-index="{{ ring.index }}"{% if ring.open %} disabled{% endif %}>{{ ring.number }}</button></li>
	{% else %}
		<li><button type="button" class="btn no-hover rl-btn" data-index="{{ ring.index }}"{% if not ring.open %} disabled{% endif %}>{{ ring.number }}</button></li>
	{% endif %}
{% endfor %}