<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="{{ metaViewport }}">
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/favicon-152.png">
	<link rel="apple-touch-icon-precomposed" href="/favicon-57.png">
	<link rel="stylesheet" href="/css/{{ identity }}.css">
</head>
<body>
	<main id="main">{{ main }}</main>
	<script src="/js/{{ identity }}.js"></script>
</body>
</html>