<div id="error" class="view hidden">
	<h1>{{ title }}</h1>
	<div class="action">
		<p class="instr err-instr"></p>
		<ul class="list-reset list-grid">
			<li><button type="button" class="err-btn err-btn--retry btn btn--major">Retry</button></li>
		</ul>
	</div>
</div>